.HeaderBlock {
    display: flex;
}

.HeaderBlock button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}