.FoldersList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

.FoldersList > li {
    margin: 5px;
    display: flex;
}
