.Item {
    margin: 5px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.ItemChecked button {
    background-color: white;
}

.ItemButton {
    height: 225px;
}

.ItemSettings {
    height: 25px;
}

.ItemButton > button {
    width: 100%;
    height: 100%;
}

.ItemSettings > button {
    width: 50%;
    height: 100%;
}
