.Item {
    margin-bottom: 5px !important;
    margin-right: 5px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-grow: 0 !important;
    flex-basis: auto !important;
}

.Item > .ItemButton > button, .Item > .ItemSettings > button {
    background-color: #CCFFCC;
    white-space: normal;
}

.ItemChecked > .ItemButton > button, .ItemChecked > .ItemSettings > button {
    background-color: white;
    border-color: #efefef;
}

.ItemChecked > .ItemButton > button {
    color: #CACACA;
}

.ItemButton {
    height: 220px;
}

.ItemButton > button {
    height: 220px;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.ItemSettings {
    height: 30px;
}

.ItemSettings > button {
    vertical-align: middle;
}

.ItemSettings > button {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
}

.ItemButton > button {
    width: 100%;
    height: 100%;
}

.ItemSettings > button {
    width: 100%;
    height: 100%;
}


input.NameItemToBeCreated::placeholder {  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
}

input.NameItemToBeCreated {  
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    width: 250px;
}
