.CheckCell {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: auto;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
}

.CheckedCell {
    background-color: red;
}

.CellToAdd {
    background-color: rgba(0, 255, 0, 0.4);
}

.CellToRemove {
    background-color: rgba(255, 0, 0, 0.4);
}

.EditableCell {
    border-style: solid;
}

.TodayHighlight {
    background-color: rgba(255, 255, 0, 0.4);
}